<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <h2>{{ heroe.superhero }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>{{ heroe.alter_ego }}</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="heroe | heroePicture"
    alt="{{ heroe.superhero }}"
    (load)="this.onImageRendered()"
  />
  <mat-card-content>
    <h3>{{ heroe.publisher }}</h3>
    <p><strong>First Appearance:</strong> {{ heroe.first_appearance }}</p>
    <br />
    <p><strong>Characters:</strong> {{ heroe.characters }}</p>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="5"
  >
    <button
      mat-flat-button
      color="accent"
      [routerLink]="['/heroes/edit', heroe.id]"
    >
      {{ "Edit Heroe" | uppercase }}
    </button>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/heroes/', heroe.id]"
    >
      {{ "View More" | uppercase }}
    </button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
