<mat-grid-list
  cols="1"
  rowHeight="70vh"
  *ngIf="!this.heroe; else heroeDataVisualization"
>
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #heroeDataVisualization>
  <div flexLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div fxFlex="10" class="back">
      <button
        mat-fab
        aria-label="Example icon button with a home icon"
        (click)="this.navigateBack()"
      >
        <mat-icon>west</mat-icon>
      </button>
    </div>
    <div
      class="container"
      flexLayout="row wrap"
      fxLayoutAlign="center flex-start"
      fxLayoutGap="30"
      fxFlex="90"
    >
      <div fxFlex="40">
        <mat-card class="container__card">
          <mat-card-header>
            <mat-card-title>
              {{ this.heroe?.superhero }} - {{ this.heroe?.alter_ego }}
            </mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            class="container__image"
            [src]="this.heroe! | heroePicture"
            alt=""
          />
        </mat-card>
      </div>
      <div class="container__information" fxFlex="40">
        <div class="container__cards" fxLayout="column wrap" fxLayoutGap="40">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h2>Information</h2>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <div mat-subheader>Characters</div>
                <mat-list-item>
                  {{ this.heroe?.characters }}
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <div mat-subheader>Publisher Name</div>
                <mat-list-item>
                  {{ this.heroe?.publisher }}
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <div mat-subheader>First Appearance</div>
                <mat-list-item>
                  {{ this.heroe?.first_appearance }}
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <div mat-subheader>Alter Ego</div>
                <mat-list-item>
                  {{ this.heroe?.alter_ego }}
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <div mat-subheader>ID</div>
                <mat-list-item>
                  <mat-chip-list>
                    <mat-chip>
                      {{ this.heroe?.id }}
                    </mat-chip>
                  </mat-chip-list>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-template>
